@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000 !important; /* สีพื้นหลัง */
    color: #fff; /* สีตัวอักษร */
  }
  
  .content {
    text-align: center;
  }
  
  .logo {
    width: 150px; /* ปรับขนาด logo ตามต้องการ */
    margin-bottom: 10px; /* ลด margin-bottom */
    margin-top: 10px; /* เพิ่ม margin-top (ถ้าต้องการ) */
  }
  
  .welcome-text {  /* ปรับแต่งเฉพาะส่วนนี้ */
    font-family: 'Inder', sans-serif; /* กำหนด font family */
    font-weight: 400; /* กำหนด font weight เป็น Regular */
    font-size: 96px; /* กำหนด font size */
    line-height: auto; /* กำหนด line height เป็น Auto */
    letter-spacing: 0%; /* กำหนด letter spacing */
    color: #FFFFFF; /* กำหนดสี */
    margin-bottom: 20px; 
  }

  .description-text {
    font-family: 'Inder', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .choice-heading {
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 580px;
    margin-bottom: 20px;
  }
  
  .customer-button
  {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 75px;
  }

  .owner-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 80px;
    margin-right: 50px;
  }

    .customer-button,
    .owner-button {
      background-color: #fff; /* สีปุ่มผู้ใช้งาน */
      color: #000; /* สีตัวอักษร */
      font-family: 'Inder', sans-serif;  /* กำหนด font family */
      font-size: 24px;  /* กำหนด font size */
      font-weight: 400;  /* กำหนด font weight เป็น Regular */
    }
  
    .description-group {
      display: flex;
      justify-content: center;
      gap: 580px;
      align-items: flex-start; /* เพิ่ม align-items: flex-start */
    }
  
  .customer-description,
  .owner-description {
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    width: 230px; /* ปรับความกว้างตามต้องการ */
    display: flex; /* เปลี่ยนเป็น flex container */
    flex-direction: column; /* จัดเรียง element ให้อยู่ในแนวตั้ง */
    align-items: center; /* จัดปุ่มและข้อความให้อยู่กึ่งกลางในแนวนอน */
  }


  