@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
.new-reset-password-container {
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* จัดให้อยู่ตรงกลาง */
}

.new-main-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;  /* จัดให้อยู่ตรงกลาง */
}

.new-reset-password-box {
  font-family: 'Inder', sans-serif; /* กำหนด font family */
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;  /* กำหนดขนาดกล่อง */
  font-family: "Kanit", sans-serif;
}

.new-reset-password-box h2 {
  font-family: 'Inder', sans-serif;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #0a284b;
}

.new-input-group-reset {
  width: 100%; /* ทำให้ input และ label ขยายเต็มความกว้าง */
  display: flex;
  flex-direction: column; /* จัดเรียง label และ input ในแนวตั้ง */
  align-items: flex-start; /* ให้ label ชิดซ้าย */
  margin-bottom: 15px;
}

.new-reset-password-box input {
  width: 100%; /* ให้ input กว้างเต็ม container */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.new-input-group-reset span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.new-reset-button {
  background-color: #0a284b;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.new-reset-button:hover {
  background-color: #073059;
}

.new-message {
  margin-top: 15px;
  font-size: 0.9rem;
  color: red;
}

.new-message.success {
  color: green;
}

.new-reset-password-box label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
  width: 100%; /* ให้ label กว้างเท่ากับ container */
}

.new-reset-password-box h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
}

.new-reset-password-box p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

