@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.forgot-password-container {
  background-color: #0b2a44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2rem; 
  font-family: 'Inder', sans-serif; 
  font-weight: 400;
}

.forgot-password-box {
  background-color: #fff;
  width: 400px;      
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-box h2 {
  margin-bottom: 2rem;
  color: #0b2a44;
  font-size: 1.5rem; 
  font-family: 'Inder', sans-serif; 
  font-weight: 500;
}

.forgot-password-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-box input {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Inder', sans-serif;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password-box button {
  width: 60%;
  background-color: #0b2a44;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inder', sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}

.forgot-password-box button:hover {
  background-color: #092033;
}
