@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.new-forgot-password-container {
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", sans-serif;
}

.new-forgot-password-box {
  background-color: #ffffff;
  width: 350px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.new-logo {
  width: 120px;
  margin-bottom: 1rem;
}

.new-forgot-password-box h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
}

.new-forgot-password-box p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.new-forgot-password-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-label {
  align-self: flex-start;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.3rem;
}

.new-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-reset-button {
  width: 100%;
  background: #16355d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.new-reset-button:hover {
  background-color: #122a4d;
}

.new-message {
  color: #000;
  margin-top: 1rem;
}

.new-back-to-login {
  display: block;
  margin-top: 1rem;
  color: #16355d;
  text-decoration: none;
  font-size: 0.9rem;
}
